In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample.csv')
df.head()

  position                      candidate district
0  SENATOR           ABALOS, BENHUR (PFP)      NaN
1  SENATOR             CAYETANO, PIA (NP)      NaN
2  SENATOR              LAPID, LITO (NPC)      NaN
3  SENATOR  QUERUBIN, ARIEL PORFIRIO (NP)      NaN
4  SENATOR         ADONIS, JEROME (MKBYN)      NaN

In [4]:
df.groupby(['position'])['candidate'].count().reset_index()

                   position  candidate
0  HOUSE OF REPRESENTATIVES        615
1                     MAYOR       3768
2                PARTY LIST        155
3       PROVINCIAL GOVERNOR        232
4  PROVINCIAL VICE-GOVERNOR        197
5         SANGGUNIANG BAYAN      27410
6  SANGGUNIANG PANLALAWIGAN       1663
7    SANGGUNIANG PANLUNGSOD       3957
8                   SENATOR         66
9                VICE-MAYOR       3483