In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('candidate.csv')
df.head()

  position                 candidate  party district
0  SENATOR            ABALOS, BENHUR    PFP      NaN
1  SENATOR             CAYETANO, PIA     NP      NaN
2  SENATOR               LAPID, LITO    NPC      NaN
3  SENATOR  QUERUBIN, ARIEL PORFIRIO     NP      NaN
4  SENATOR            ADONIS, JEROME  MKBYN      NaN

In [3]:
df.groupby(['position'])['candidate'].count().reset_index()

                   position  candidate
0  HOUSE OF REPRESENTATIVES        614
1                     MAYOR       3766
2                PARTY LIST        155
3       PROVINCIAL GOVERNOR        231
4  PROVINCIAL VICE-GOVERNOR        196
5         SANGGUNIANG BAYAN      27366
6  SANGGUNIANG PANLALAWIGAN       1660
7    SANGGUNIANG PANLUNGSOD       3955
8                   SENATOR         66
9                VICE-MAYOR       3481

In [4]:
df.groupby(['party'])['candidate'].count().reset_index().sort_values('candidate', ascending=False)

    party  candidate
33    IND      10667
43  LAKAS       6263
62    PFP       5733
51    NPC       3455
50     NP       3179
..    ...        ...
84    UGB          1
56  PDLBN          1
40     KP          1
29    HNP          1
20     BM          1

[92 rows x 2 columns]